<section
	[id]="constants.homeSectionLinksId.ABOUT"
	class="mx-auto mb-[18px] mt-[24px] flex max-w-none flex-col items-center sm:max-w-[90%] md:max-w-[80%] lg:max-w-[70%]"
>
	<img
		src="assets/images/wasit-shafi.png"
		alt="wasit-shafi-img"
		class="mb-[12px] inline-block size-[60px] rounded-[50%]"
	/>
	<!-- TODO: in some browsers, it was showing it in 2 lines due to some unknown reasons, to overcome that temporarily i have added class 'whitespace-nowrap' -->

	<p class="whitespace-nowrap text-2xl text-txtPrimary">
		{{ aboutData.greeting }}
	</p>
	@for (summaryItem of aboutData.summary; track $index) {
		<p
			class="text-center text-txtPrimary"
			[innerHTML]="summaryItem.text"
		></p>
	}
</section>
