<section
	[id]="constants.homeSectionLinksId.ABOUT"
	class="mx-auto mb-[18px] mt-[24px] flex max-w-none flex-col items-center sm:max-w-[90%] md:max-w-[80%] lg:max-w-[70%]"
>
	<img
		src="assets/images/wasit-shafi.png"
		alt="wasit-shafi-img"
		class="mb-[12px] inline-block size-[60px] rounded-[50%]"
	/>
	<!-- TODO: in some chrome browsers, it was showing it in 2 lines due to some unknown reasons, to overcome that temporarily add class whitespace-nowrap -->

	<p class="whitespace-nowrap text-2xl text-txtPrimary">👋 Hi, I'm Wasit</p>
	<p class="text-center text-txtPrimary">
		Currently Working as a Full Stack SDE with 3+ Years of experience in
		developing & delivering high-quality web applications.
	</p>
	<p class="text-center text-txtPrimary">
		I have a keen interest in backend technologies & solving real-life problems
		by developing efficient, optimal & scalable solutions.
	</p>
	<p class="text-center text-txtPrimary">
		I am proficient in data structures & algorithms with strong problem-solving
		& debugging skills.
	</p>
	<p class="text-center text-txtPrimary">
		<b>Trust Me!</b> I take <b>100% ownership</b> (R&D, POC, Development,
		Deployment) of the task I pick up & pay attention to detail.
	</p>
	<p class="text-center text-txtPrimary">
		Want to know more...? Have a Look at my
		<a
			href="https://drive.google.com/file/d/1eOz6O41hRVIyxqi8sGNHxgQbtlunMi_N"
			title="https://drive.google.com/file/d/1eOz6O41hRVIyxqi8sGNHxgQbtlunMi_N"
			target="_blank"
			class="hover:decoration text-txtQuaternary hover:underline"
		>
			Resume
		</a>
	</p>
</section>
