<section
	class="mx-auto mb-[18px] mt-[24px] flex max-w-none flex-col items-center sm:max-w-[90%] md:max-w-[80%] lg:max-w-[70%]"
	[id]="constants.homeSectionLinksId.ABOUT"
>
	<img
		class="mb-[12px] inline-block h-[60px] rounded-[50%]"
		alt="wasit-shafi-img"
		ngSrc="assets/images/wasit-shafi.png"
		width="60"
		height="60"
		priority
	/>
	<!-- TODO: in some browsers, it was showing it in 2 lines due to some unknown reasons, to overcome that temporarily i have added class 'whitespace-nowrap' -->

	<p class="whitespace-nowrap text-2xl text-txtPrimary">
		{{ aboutData.greeting }}
	</p>
	@for (summaryItem of aboutData.summary; track $index) {
		<p
			class="text-center text-txtPrimary"
			[innerHTML]="summaryItem.text"
		></p>
	}
</section>
