<nav
	class="sticky top-0 -mx-[16px] rounded-b-[10px] bg-black/1 shadow-lg backdrop-blur-12px sm:-mx-[22px] md:-mx-[28px]"
>
	<div class="flex 2xs:hidden">
		<button
			class="my-[14px] inline-block size-[26px] bg-[url('assets/images/menu-icon.svg')] bg-contain ltr:ml-[auto] ltr:mr-[16px] rtl:ml-[16px] rtl:mr-[auto]"
			aria-label="Toggle Nav Menu"
			[id]="menuTogglerId"
			(click)="handleNavMenuToggle()"
		></button>
	</div>

	<ul
		class="hidden justify-center 2xs:flex"
		[id]="menuUlId"
	>
		@for (menuItem of NAV_MENU_ITEMS; track $index) {
			@if (menuItem.visibility) {
				<!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus, @angular-eslint/template/click-events-have-key-events  -->
				<li (click)="handleNavItemClick()">
					<a
						class="flex items-center justify-center py-[14px] font-nanum-pen text-2xl text-txtPrimary underline-offset-4 transition-colors duration-500 ease-in hover:bg-qatar hover:text-white 2xs:px-[6px] 2xs:text-xl xs:text-2xl"
						[href]="menuItem.href"
						[ngClass]="[constants.WSP + 'nav-link']"
					>
						{{ menuItem.label[appDataService.currentLanguage()] }}
					</a>
				</li>
			}
		}
	</ul>
</nav>
