@use '../.././../../main.scss' as *;

.#{$wsp}nav-link {
	&:hover {
		text-shadow:
			0 0 10px rgba($clr-white, 1),
			0 0 10px rgba($clr-pastel-grey, 0.1);
	}
}

li {
	&.light {
		// used text-shadow to make nav text more visible on light theme (especially on back background)

		text-shadow: 0px 0px 3px rgba($clr-white, 0.8);
	}

	&.dark {
		// used text-shadow to make nav text more visible on dark theme (especially on white background)

		text-shadow: 0px 0px 3px rgba($clr-black, 0.8);
	}

	&.active {
		border-bottom-color: $clr-qatar;

		a {
			color: $clr-qatar;
		}

		&.dark {
			text-shadow: none;
		}
	}
}
