<section
	class="mb-[18px]"
	[id]="constants.homeSectionLinksId.WORK_EXPERIENCE"
>
	<h3
		class="mb-[8px] text-center font-nanum-pen text-4xl font-medium text-txtPrimary"
	>
		{{
			appDataService.staticData()[
				constants.languageCodes[appDataService.currentLanguage()]
			]?.workExperience
		}}
	</h3>
	@for (workExperience of workExperiencesData; track workExperience.id) {
		<div class="mb-4">
			<span class="font-bold text-txtPrimary">{{ workExperience.role }},</span>
			<a
				class="hover:decoration text-txtQuaternary hover:underline"
				[href]="workExperience.companyDetails.companyWebsiteUrl"
				[title]="workExperience.companyDetails.companyWebsiteUrl"
				target="_blank"
			>
				{{ workExperience.companyDetails.companyName }}
			</a>
			<p class="flex justify-between">
				<span class="text-txtTernary">
					{{ workExperience.companyDetails.city }},
					{{ workExperience.companyDetails.country }}
				</span>
				<span class="text-txtTernary">
					@if (workExperience.isCurrentlyWorking) {
						{{
							appDataService.staticData()[
								constants.languageCodes[this.appDataService.currentLanguage()]
							]?.present
						}}
					} @else {
						{{ workExperience.startDate + ' - ' + workExperience.endDate }}
					}
				</span>
			</p>
		</div>
	}
</section>
