<section
	class="mb-[18px]"
	[id]="constants.homeSectionLinksId.WORK_EXPERIENCE"
>
	<h3
		class="mb-[8px] text-center font-nanum-pen text-4xl font-medium text-txtPrimary"
	>
		Work Experience
	</h3>
	@for (
		workExperience of workExperiencesData;
		track workExperience.companyName
	) {
		<div class="mb-4">
			<span class="font-bold text-txtPrimary">{{ workExperience.role }},</span>
			<a
				class="hover:decoration text-txtQuaternary hover:underline"
				[href]="workExperience.companyDetails.companyWebsiteUrl"
				[title]="workExperience.companyDetails.companyWebsiteUrl"
			>
				{{ workExperience.companyDetails.companyName }}
			</a>
			<p class="flex justify-between">
				<span class="text-txtTernary">
					{{ workExperience.companyDetails.city }},
					{{ workExperience.companyDetails.country }}
				</span>
				<span class="text-txtTernary">
					{{ workExperience.startDate }} -
					{{
						workExperience.isCurrentlyWorking
							? 'Present'
							: workExperience.endDate
					}}
				</span>
			</p>
			<ul>
				@for (
					workContribution of workExperience.workContributions;
					track workContribution.id
				) {
					<li class="text-txtSecondary">
						* {{ workContribution.description }}
					</li>
				}
			</ul>
		</div>
	} @empty {}
</section>
