@use './colors' as *;

@mixin mx-custom-selection {
	color: $clr-white;
	background: $clr-raspberry;
	text-shadow:
		0 0 2px $clr-white,
		0 0 4px $clr-white,
		0 0 6px $clr-white,
		0 0 8px $clr-hollywood-cerise,
		0 0 10px $clr-hollywood-cerise,
		0 0 12px $clr-hollywood-cerise,
		0 0 14px $clr-hollywood-cerise,
		0 0 16px $clr-hollywood-cerise;
}
