@mixin mx-custom-selection {
	color: #fff;
	background: #e90464;
	text-shadow:
		0 0 2px #fff,
		0 0 4px #fff,
		0 0 6px #fff,
		0 0 8px #f09,
		0 0 10px #f09,
		0 0 12px #f09,
		0 0 14px #f09,
		0 0 16px #f09;
}
