<nav
	class="sticky top-0 -mx-[16px] hidden bg-white/20 shadow-lg backdrop-blur-[8px] xs:block sm:-mx-[22px] md:-mx-[28px] lg:mx-0 lg:rounded-b-[6px]"
>
	<ul class="flex justify-center gap-x-[12px]">
		<!-- About -->

		<li class="">
			<a
				[href]="'#' + constants.homeSectionLinksId.ABOUT"
				class="flex items-center justify-center py-[14px]"
			>
				About
			</a>
		</li>
		<!-- Experience -->

		<li class="">
			<a
				class="flex items-center justify-center py-[14px]"
				[href]="'#' + constants.homeSectionLinksId.WORK_EXPERIENCE"
			>
				Experience
			</a>
		</li>
		<!-- Projects -->

		<li class="">
			<a
				class="flex items-center justify-center py-[14px]"
				[href]="'#' + constants.homeSectionLinksId.PERSONAL_PROJECTS"
			>
				Projects
			</a>
		</li>
		<!-- Skills -->

		<li class="">
			<a
				class="flex items-center justify-center py-[14px]"
				[href]="'#' + constants.homeSectionLinksId.SKILLS"
			>
				Skills
			</a>
		</li>
		<!-- Education -->

		<li class="">
			<a
				class="flex items-center justify-center py-[14px]"
				[href]="'#' + constants.homeSectionLinksId.EDUCATION"
			>
				Education
			</a>
		</li>
		<!-- Contact -->

		<li class="">
			<a
				class="flex items-center justify-center py-[14px]"
				[href]="'#' + constants.homeSectionLinksId.CONTACT"
			>
				Contact
			</a>
		</li>
	</ul>
</nav>
