<nav
	class="bg-black/1 backdrop-blur-12px sticky top-0 -mx-[16px] rounded-b-[10px] shadow-lg sm:-mx-[22px] md:-mx-[28px]"
>
	<div class="flex 2xs:hidden">
		<button
			[id]="menuTogglerId"
			(click)="handleNavMenuToggle()"
			class="my-[14px] ml-[auto] mr-[16px] inline-block size-[26px] bg-[url('assets/images/menu-icon.svg')] bg-contain"
		></button>
	</div>

	<ul
		[id]="menuUlId"
		class="hidden justify-center 2xs:flex"
	>
		@for (menuItem of NAV_MENU_ITEMS; track menuItem.id) {
			@if (menuItem.visibility) {
				<li
					class=""
					(click)="handleNavItemClick()"
				>
					<a
						[href]="menuItem.href"
						class="text-txtPrimary font-nanum-pen flex items-center justify-center py-[14px] text-2xl 2xs:px-[6px]"
					>
						{{ menuItem.label }}
					</a>
				</li>
			}
		}
	</ul>
</nav>
