<main class="mx-auto max-w-screen-lg px-[16px] sm:px-[22px] md:px-[28px]">
	<wsp-header></wsp-header>
	<router-outlet></router-outlet>
	<wsp-footer></wsp-footer>
	<!-- app theme toggler button -->

	<button
		class="fixed bottom-[20px] right-[20px] size-[40px] rounded-full bg-bgPrimaryInverse p-[8px] md:right-[26px] lg:right-[80px] xl:right-[200px] 2xl:right-[280px]"
		(click)="appDataService.toggleCurrentThemeMode()"
	>
		<img
			alt="img"
			class="size-full"
			[src]="
				'../../../../assets/images/' +
				(appDataService.isDarkCurrentTheme()
					? 'sun-dark-icon'
					: 'moon-light-icon') +
				'.svg'
			"
		/>
	</button>

	<button
		type="button"
		class="fixed left-0 top-1/2 rotate-180 rounded-l-lg bg-qatar/90 py-3 text-white	transition-property duration-500 hover:bg-qatar/100 {{
			constants.CLASS_PREFIX
		}}toggle-language"
		[ngClass]="[
			'[writing-mode:vertical-lr]',
			appDataService.currentLanguage() === constants.languages.ENGLISH
				? 'text-xl'
				: 'text-lg',
		]"
		(click)="appDataService.toggleLanguage()"
	>
		{{
			appDataService.currentLanguage() === constants.languages.ARABIC
				? 'English'
				: 'عربي'
		}}
	</button>
</main>
