<main class="mx-auto max-w-screen-lg px-[16px] sm:px-[22px] md:px-[28px]">
	<wsp-header></wsp-header>
	<router-outlet></router-outlet>
	<wsp-footer></wsp-footer>
	<!-- app theme toggler button -->

	<button
		class="fixed bottom-[20px] size-[40px] rounded-full bg-bgPrimaryInverse p-[8px] ltr:right-[20px] ltr:md:right-[26px] ltr:lg:right-[80px] ltr:xl:right-[200px] ltr:2xl:right-[280px] rtl:left-[20px] rtl:md:left-[26px] rtl:lg:left-[80px] rtl:xl:left-[200px] rtl:2xl:left-[280px]"
		(click)="appDataService.toggleCurrentThemeMode()"
		[title]="
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.toggleThemeInfo
		"
	>
		<img
			alt="img"
			class="size-full"
			[src]="
				'../../../../assets/images/' +
				(appDataService.isDarkCurrentTheme()
					? 'sun-dark-icon'
					: 'moon-light-icon') +
				'.svg'
			"
		/>
	</button>

	<button
		type="button"
		class="transition-property fixed top-1/2 rotate-180 bg-qatar/90 py-3 text-white duration-500 hover:bg-qatar/100 ltr:left-0 ltr:rounded-l-lg ltr:text-xl rtl:right-0 rtl:rounded-r-lg rtl:text-lg"
		[ngClass]="[
			'[writing-mode:vertical-lr]',
			constants.WSP + 'toggle-language',
		]"
		(click)="appDataService.toggleLanguage()"
		[title]="
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.toggleLanguageInfo
		"
	>
		{{
			appDataService.currentLanguage() === constants.languages.ARABIC
				? 'English'
				: 'عربي'
		}}
	</button>
</main>
