<section>
	<h3 class="mb-[8px] text-center text-xl font-medium">Education</h3>
	@for (
		educationDataItem of educationData;
		track educationDataItem.universityName
	) {
		<div class="mb-[12px] flex flex-col">
			<p class="flex flex-wrap justify-between gap-x-[24px] gap-y-[12px]">
				<span class="align-center flex">
					<span class="font-semibold">{{ educationDataItem.degree }}</span>

					<span class="font-semibold"> ({{ educationDataItem.score }}) </span>
				</span>

				<a
					class="hover:decoration align-center inline-flex text-blue-700"
					[href]="educationDataItem.universityWebsiteURL"
					[title]="educationDataItem.universityWebsiteURL"
					target="_blank"
					rel="noopener"
				>
					<img
						class="inline size-[24px]"
						[src]="educationDataItem.logoAssetURL"
						alt="logo"
					/>{{ educationDataItem.universityName }}
				</a>
			</p>
		</div>
	} @empty {}
</section>
