<section
	class="mx-auto mb-[18px] 2xs:max-w-[90%]"
	[id]="constants.homeSectionLinksId.SKILLS"
>
	<h3
		class="mb-[8px] text-center font-nanum-pen text-4xl font-medium text-txtPrimary"
	>
		{{
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.skills
		}}
	</h3>
	<div
		class="flex flex-wrap justify-center gap-x-[10px] gap-y-[8px]"
		[style.direction]="'ltr'"
	>
		@for (skillDataItem of skillsData; track $index) {
			<span
				class="block whitespace-nowrap rounded-[6px] border px-[12px] py-[2px] font-nanum-pen text-2xl text-txtSecondary"
			>
				{{ skillDataItem.skillName }}
			</span>
		}
	</div>
</section>
