<section
	class="mb-[18px]"
	[id]="constants.homeSectionLinksId.PERSONAL_PROJECTS"
>
	<h3
		class="mb-[8px] text-center font-nanum-pen text-4xl font-medium text-qatar"
	>
		{{
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.personalProjects
		}}
	</h3>
	<!-- Project: Dev Tools Studio -->

	<div class="">
		<div
			class="mb-4"
			[style.direction]="'ltr'"
		>
			<span class="mr-2 font-nanum-pen text-3xl font-bold text-txtPrimary">
				Dev Tools Studio
			</span>

			<span class="">
				@for (item of projectsData.devToolsStudio.links; track $index) {
					<a
						class="hover:decoration mx-2 font-nanum-pen text-base text-txtQuaternary hover:underline"
						[href]="item.url"
						[title]="item.url"
						target="_blank"
						>{{ item.label }}</a
					>
				}
			</span>
			<!-- 
			<h1 class="font-nanum-pen text-xl font-bold text-red-500">
				NOTE: Due to some security issues on AWS, I have terminated the EC2
				instance on 26 June 2025 due to which the live project links will not be
				working temporarily, will restore it ASAP. Thank You
			</h1>
			 -->
			<!-- Core Tech Stack & About Project -->

			<div class="flex flex-col gap-y-3">
				<div class="flex flex-col">
					<!-- Core Tech Stack Label -->

					<span
						class="font-nanum-pen text-lg text-txtSecondary underline decoration-double"
						><b>Core Tech Stack:</b>
					</span>
					<!-- Core Tech Stack Value -->

					<span class="flex flex-wrap gap-x-2 gap-y-3">
						@for (
							item of projectsData.devToolsStudio.coreTechStack;
							track $index
						) {
							<i
								class="flex h-6 items-center rounded-lg border px-2 font-nanum-pen text-lg text-txtSecondary"
								>{{ item.label }}</i
							>
						}
					</span>
				</div>

				<div class="flex flex-col">
					<!-- About Project Label -->

					<span
						class="font-nanum-pen text-lg text-txtSecondary underline decoration-double"
						><b>About Project:</b>
					</span>
					<!-- About Project Description -->

					<p class="font-nanum-pen text-xl font-medium text-txtSecondary">
						Now Cold Emailing is just only one click away, no overhead of
						re-typing the whole email or copy-pasting previously used emails. No
						need to login into your different accounts just to send emails, all
						of it can now be managed from one account only!
					</p>
				</div>
			</div>
		</div>

		<ul
			class="marker:text-green ml-6 list-outside list-disc"
			[style.direction]="'ltr'"
		>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Bootstrapped frontend & backend project setting up ts-node-dev,
				containerization, AWS SDK V3, GitHub Actions, swagger, winston/morgan
				loggers, reCAPTCHA, helmet, API rate limiters, user-agent parser,
				postman, dev & prod environments, NgRx, Angular Interceptors & Guards,
				handling cookies/caching mechanism, etc
			</li>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Build a CI/CD pipeline to deploy new changes by publishing a new Image
				on Docker Hub via
				<a
					class="hover:decoration text-txtQuaternary hover:underline"
					href="https://github.com/wasit-shafi/dev-tools-studio-backend/blob/9fcd94a91b86a21a816946a0d4d5b05b7d5465b3/.github/workflows/ci.yml#L10"
					title="https://github.com/wasit-shafi/dev-tools-studio-backend/blob/9fcd94a91b86a21a816946a0d4d5b05b7d5465b3/.github/workflows/ci.yml#L10"
					target="_blank"
				>
					GitHub-hosted runner
				</a>
				& running the latest image via
				<a
					class="hover:decoration text-txtQuaternary hover:underline"
					href="https://github.com/wasit-shafi/dev-tools-studio-backend/blob/9fcd94a91b86a21a816946a0d4d5b05b7d5465b3/.github/workflows/cd.yml#L12"
					title="https://github.com/wasit-shafi/dev-tools-studio-backend/blob/9fcd94a91b86a21a816946a0d4d5b05b7d5465b3/.github/workflows/cd.yml#L12"
					target="_blank"
				>
					self-hosted runner
				</a>
				on an AWS EC2 instance.
			</li>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Build architecture of BullMQ queues & workers for background job
				processing with Redis Cloud DB for metadata.
			</li>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Build RESTful API’s & UI for sending scheduled emails with chosen email
				credentials & templates.
			</li>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Build CRUD APIs & UI for email Credentials, Templates, Attachments,
				Authentication & Registration features, etc.
			</li>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Architected a well-structured express backend codebase, segregating
				controllers, routers, middlewares, standardising API responses,
				versioning APIs, Zod schema validation, interfaces, & other utility
				configurations.
			</li>
			<li class="font-nanum-pen text-lg text-txtSecondary">
				Build a real-time security tracking system, capturing request IPs,
				device details &
				<a
					class="hover:decoration text-txtQuaternary hover:underline"
					href="https://drive.google.com/file/d/13xAnxs6QSyo65BOfisXy8PEtK1ntNXrt"
					title="https://drive.google.com/file/d/13xAnxs6QSyo65BOfisXy8PEtK1ntNXrt"
					target="_blank"
				>
					generating static map images
				</a>
				.
			</li>
		</ul>
		<!-- YouTube Video -->

		<iframe
			src="https://www.youtube.com/embed/HiqfIKH9ywE?si=RXqpvxUPFxlp38TE"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen
			class="mx-auto my-5 h-[500px] w-full lg:w-[889px]"
		></iframe>

		<lightgallery
			[settings]="settings"
			class="flex flex-wrap content-center items-center justify-center gap-1"
		>
			@for (snapshot of constants.snapshots; track $index) {
				<a
					data-lg-size="1600-2400"
					className="gallery-item"
					[attr.data-src]="snapshot.imageSrc"
					[attr.data-sub-html]="snapshot.subHtml"
				>
					<div
						class="group relative cursor-pointer overflow-hidden rounded p-1"
					>
						<img
							fetchpriority="high"
							[src]="snapshot.imageSrc"
							class="img-responsive transition-scale max-h-24 duration-200 ease-in-out group-hover:scale-125"
						/>
						<div
							class="text-primary text-shadow-md absolute bottom-0 left-0 right-0 top-0 flex items-end items-center justify-center bg-qatar/80 text-center font-nanum-pen text-lg font-medium text-white opacity-0 transition-all duration-500 ease-in-out group-hover:opacity-100"
							[ngClass]="[constants.WSP + 'click-to-view']"
						>
							Click To View
						</div>
					</div>
				</a>
			}
		</lightgallery>
	</div>
</section>
