<section
	class="mb-[18px]"
	[id]="constants.homeSectionLinksId.PERSONAL_PROJECTS"
>
	<h3
		class="mb-[8px] text-center font-nanum-pen text-4xl font-medium text-txtPrimary"
	>
		{{
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.personalProjects
		}}
	</h3>

	@for (
		personalProject of this.personalProjectsData;
		track personalProject.id
	) {
		<div
			class="mb-4"
			[style.direction]="'ltr'"
		>
			<span class="font-bold text-txtPrimary">
				{{ personalProject.projectTitle }}
			</span>
			<a
				class="hover:decoration mx-2 text-txtQuaternary hover:underline"
				[href]="personalProject.deployment.url"
				[title]="personalProject.deployment.url"
				target="_blank"
			>
				{{ personalProject.deployment.linkText }}
			</a>
			<span class="border">
				@for (sourceCodeUrl of personalProject.sourceCodeUrl; track $index) {
					<a
						class="hover:decoration mx-2 text-txtQuaternary hover:underline"
						[href]="sourceCodeUrl.url"
						[title]="sourceCodeUrl.url"
						target="_blank"
					>
						{{ sourceCodeUrl.linkText }}
					</a>
				}
			</span>
			<ul>
				@for (
					projectFeatures of personalProject.projectFeatures;
					track $index
				) {
					<li class="text-txtSecondary">* {{ projectFeatures.description }}</li>
				}
			</ul>
		</div>
	}
</section>
