@use '../../../main.scss' as *;

body div.lg-sub-html {
	padding-left: 0;
	padding-right: 0;
}

.#{$wsp}click-to-view {
	&:hover {
		text-shadow:
			0 0 10px rgba($clr-white, 1),
			0 0 10px rgba($clr-pastel-grey, 0.1);
	}
}
