@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Karla, sans-serif;
		font-optical-sizing: auto;

		/* can use value from 200 to 800 */
		font-weight: 400;
		font-style: normal;
	}

	:root {
		/* BACKGROUND COLOR */

		--color-bg-primary: 255 255 255;
		--color-bg-primary-inverse: 3 7 18;

		/* FONT COLOR */

		--color-txt-primary: 26 26 26;
		--color-txt-secondary: 132 132 132;
		--color-txt-ternary: 19 21 22;

		/* used for links */
		--color-txt-quaternary: 0 123 229;
	}

	.dark {
		/* BACKGROUND COLOR */

		--color-bg-primary: 3 7 18;
		--color-bg-primary-inverse: 255 255 255;

		/* FONT COLOR */

		--color-txt-primary: 249 250 251;
		--color-txt-secondary: 249 250 251;
		--color-txt-ternary: 165 164 168;

		/* used for links */
		--color-txt-quaternary: 148 198 255;
	}
}
