<p class="mb-[30px] mt-[20px] text-center text-txtPrimary">
	{{
		appDataService.staticData()[
			constants.languageCodes[this.appDataService.currentLanguage()]
		]?.designedAndMaintainedBy
	}}
	<a
		class="hover:decoration text-txtQuaternary hover:underline"
		[href]="
			'https://www.linkedin.com/in/wasit-shafi' +
			(appDataService.currentLanguage() === constants.languages.ARABIC
				? '/?locale=ar_AE'
				: '')
		"
		[title]="
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.connectOnLinkedinInfo
		"
		target="_blank"
	>
		{{
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.wasit
		}}
	</a>
	&copy;
	{{
		appDataService.staticData()[
			constants.languageCodes[this.appDataService.currentLanguage()]
		]?.currentYear
	}}
	<span
		class="font-mono text-xs tracking-tighter"
		[innerHTML]="
			appDataService.staticData()[
				constants.languageCodes[this.appDataService.currentLanguage()]
			]?.lastUpdatedInfo
		"
	>
	</span>
</p>
